@model List<Insatsplutonen.Model.Blog.Post>

@{
    ViewBag.Title = "Insatsplutonen | Start";
    ViewBag.CurrentPage = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START HOME -->

<div id="content-wrapper">

    <div class="fullwidth">

        <div class="flexslider" id="index-slider">

            <ul class="slides">
                <li>
                    <a href="#"><img src="~/Content/assets/start/start2.png" alt="" /></a>
                    <div class="flex-caption transparent light-font">
                        <div>
                            <h2><span class="uppercase">It is important to make a web <br>site visually attractive</span></h2>
                            <p><span class="lowercase">That`s why we never lose sight of the fact <br>that every site must be easy to use and intuitive. Try it, it's 100% fat free</span></p>
                            <p><a href="#" class="button medium green">Läs vår blog</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="~/Content/assets/start/start1.png" alt="" /></a>
                    <div class="flex-caption transparent light-font center">
                        <div>
                            <h2><span class="uppercase">Design is important <br>because chaos is so hard</span></h2>
                            <p><span class="lowercase">That's why our team was created from the desire <br>to make a living while promoting and nurturing what we value in our daily lives.</span></p>
                            <p><a href="#" class="button medium white">Om oss</a></p>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="http://placehold.it/1920x600" alt="" /></a>
                    <div class="flex-caption dark center">
                        <div>
                            <h2><span class="uppercase">The funny thing is we <br>like to make things for web</span></h2>
                            <p><span class="lowercase">In fact we are little bit too obsessed. <br>In fact we earn money whilst working on things we're totally in love with</span></p>
                            <p><a href="#" class="button medium grey">Intresserad?</a></p>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="http://placehold.it/1920x600" alt="" /></a>
                    <div class="flex-caption light">
                        <div>
                            <h2><span class="uppercase">Design is important <br>because chaos is so hard.</span></h2>
                            <p><span class="lowercase">That's why our team was created from the desire  <br>to make a living while promoting and nurturing what we value in our daily lives.</span></p>
                            <p><a href="#" class="button medium grey">Vilka är vi?</a></p>
                        </div>
                    </div>
                </li>

            </ul><!--END UL SLIDES-->

        </div><!--END FLEXSLIDER-->

    </div><!--END FULLWIDTH-->


    <div class="page-header text-align-center">

        <h1 class="title uppercase">Välkommen till <a href="http://themeforest.net">1:a Insatspluton, Norra Kalmar län</a>.</h1>
        <h2 class="subtitle">1:a Insatspluton utgår från Oskarshamn, men tar in medlemmar från Oskarshamns kommun, Högsbys kommun och Mönsterås kommun.</h2>

    </div><!--END PAGE-HEADER-->

    <div class="content">
        <div class="section">

            <div class="portfolio-grid">

                <ul id="thumbs" class="col4">
                    @if (Model.Any())
                    {
                        foreach (var post in Model)
                        {
                            <li class="item web">
                                <img src="@post.ShowMedia()" alt="" style="max-height: 207px;" />
                                <div class="col4 item-info">
                                    <h3 class="title"><a href="/Blog/Posts/#/@post.Id">@post.Title</a></h3>
                                </div><!--END ITEM-INFO-->
                                <div class="item-info-overlay">
                                    <div>
                                        <h4>@post.Created</h4>
                                        <p>@Html.Raw(@post.ShowContent())</p>
                                        <a href="/Blog/Posts/#/@post.Id" class="button small rounded white">läs mer</a>
                                        <a href="@post.ShowMedia()" class="button small rounded orange" data-rel="prettyPhoto[web]">preview</a>
                                    </div>
                                </div><!--END ITEM-INFO-OVERLAY-->
                            </li>
                        }              
                    }
                </ul><!--END UL THUMBS--> <br>

                <p class="one text-align-center"><a href="#" class="button large green">Läs våran blog</a></p>

            </div><!--END PORTFOLIO-GRID-->

        </div><!--END SECTION-->

        <div class="section parallax-background dark" id="index">

            <div class="holder text-align-center">
                <h2 class="uppercase">Kolla in våran populära baskerskola</h2>
                <h3>Lär dig stuka baskern rätt, kolla här!</h3><br>
                <p><a href="#" class="button large rounded outline white">Till Baskerskolan</a></p>
            </div><!--END HOLDER-->

        </div><!--END SECTION-->

        <div class="section">
            <div class="divider-border"></div>
            <div class="clear"></div>


            <div class="one text-align-center">
                <h3 class="title uppercase">Trött på det civila mörkret?</h3>
                <h4>Vi letar alltid efter fler plutonsmedlemmar, hör av dig redan idag.</h4>

                <div class="one-half button-group aligncenter">
                    <a href="#" class="button grey"><span class="title">Ansök här</span><span class="subtitle">genom formuläret</span></a>
                    <span class="or radius-200">eller</span>
                    <a href="#" class="button green"><span class="title">Kontakta oss</span><span class="subtitle">här</span></a>
                </div><!--END ONE-HALF BUTTON-GROUP-->

            </div><!--END ONE-->

        </div><!--END SECTION-->

    </div><!--END CONTENT-->

</div><!--END CONTENT-WRAPPER-->
<!-- END HOME -->
